bin
Connected Services
Library
/SubProject/ExcelDataTableExample/Assembly-CSharp.csproj
 
Temp
.vs
.vs
/SubProject/SoundManager/SoundManager/Assembly-CSharp.csproj
/SubProject/SoundManager/*.csproj
/JoyFitness/*.csproj
/SubProject/UI_Prefabs/Assembly-CSharp.csproj
/JoyFitness/obj
/JoyFitness/JoyFitness.sln
/KinectMocapAnimator/obj
/KinectMocapAnimator/Assembly-CSharp.csproj
/KinectMocapAnimator/Assembly-CSharp-Editor.csproj
/KinectMocapAnimator/Assembly-CSharp-Editor-firstpass.csproj
/KinectMocapAnimator/Assembly-CSharp-firstpass.csproj
/KinectMocapAnimator/KinectMocapAnimator.sln
/JoyFitness/FaceTrackData.dll
/JoyFitness/FaceTrackLib.dll
/JoyFitness/KinectBackgroundRemoval180_64.dll
/JoyFitness/KinectInteraction180_64.dll
/JoyFitness/KinectUnityAddin.dll
/JoyFitness/KinectUnityWrapper.dll
/JoyFitness/msvcp100.dll
/JoyFitness/msvcp110.dll
/JoyFitness/msvcr100.dll
/JoyFitness/msvcr110.dll
/JoyFitness/FaceTrackData.dll
/JoyFitness/FaceTrackLib.dll
/JoyFitness/KinectBackgroundRemoval180_64.dll
/JoyFitness/KinectInteraction180_64.dll
/JoyFitness/KinectUnityAddin.dll
/JoyFitness/KinectUnityWrapper.dll
/JoyFitness/msvcp100.dll
/JoyFitness/msvcp110.dll
/JoyFitness/msvcr100.dll
/JoyFitness/msvcr110.dll
/JoyFitness/FaceTrackData.dll
/JoyFitness/FaceTrackLib.dll
/JoyFitness/KinectBackgroundRemoval180_64.dll
/JoyFitness/KinectInteraction180_64.dll
/JoyFitness/KinectUnityAddin.dll
/JoyFitness/KinectUnityWrapper.dll
/JoyFitness/OpenNI.ini
/JoyFitness/msvcp100.dll
/JoyFitness/msvcp110.dll
/JoyFitness/msvcr100.dll
/JoyFitness/msvcr110.dll
MeasureFile
# build output directories
/JoyFitness/JoyFitness
/JoyFitness/JoyFitness-Linux
~$*.*

/JoyFitnessAndroid/Assembly-CSharp.csproj
/JoyFitnessAndroid/Assembly-CSharp-Editor.csproj
/JoyFitnessAndroid/Assembly-CSharp-firstpass.csproj
/JoyFitnessAndroid/JoyFitnessAndroid.sln
/JoyFitnessAndroid/obj
/JoyFitnessAndroid/awrtc_browser.csproj
/JoyFitnessAndroid/awrtc_editor.csproj
/JoyFitnessAndroid/wrtc.csproj
/JoyFitnessAndroid/awrtc_browser.csproj
/JoyFitnessAndroid/awrtc_editor.csproj
/JoyFitnessAndroid/wrtc.csproj

